<footer class="bg-blue-darkest mx-auto text-white px-3 md:px-6 lg:px-0">
<div class="bg-blue-darkest">
  <div class="container py-6 mx-auto flex items-start flex-wrap justify-center">
    <div class="w-full md:w-1/2">
      {{ with .Site.GetPage "section" "contact" }}
      <address class="roman leading-normal">
        <h3 class="mt0">{{.Params.business_name}}</h3>
        <div>{{ replace .Params.address "\n" "<br>" | safeHTML }}</div>
        <div>Mobile: {{.Params.mobile}}</div>
      </address>
      {{ end }}
    </div>
    <div class="w-full md:w-1/2 text-left md:text-right py-4">
      <a class="no-underline text-blue-light hover:text-white p-2 inline-block" href="/">Home</a>
      <a class="no-underline text-blue-light hover:text-white p-2 inline-block" href="/raceinfo">Race Info</a>
      <a class="no-underline text-blue-light hover:text-white p-2 inline-block" href="/racewekeend">Race Weekend</a>
      <a class="no-underline text-blue-light hover:text-white p-2 inline-block" href="http://128.199.199.202:4100/">Register</a>
      <a class="no-underline text-blue-light hover:text-white p-2 inline-block" href="http://128.199.199.202:4100/">Application Status</a>
      <a class="no-underline text-blue-light hover:text-white p-2 inline-block" href="/faq" data-turbolinks="false">FAQ</a>
      <a class="no-underline text-blue-light hover:text-white p-2 inline-block" href="/contact" data-turbolinks="false">Contact</a>
      <div class="text-white pt-3 pb-2">&copy; Encash Entertainment Ltd {{dateFormat "2006" now }}
      </div>
      <div class="text-sm">
        Powered by <a href="http://slicedmango.com" class="text-orange">Sliced Mango</a>
      </div>
    </div>
  </div>
</div>
</footer>
<script>
  var toggle_mobile_menu = function(){
    document.getElementById("mobile_nav").classList.toggle("hidden")
  }
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

</body>
</html>
