<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <meta property="og:type" content="website" />
    {{ if .Params.seo_title }}
    <title>{{.Params.seo_title}}</title>
    <meta property="og:title" content="{{.Params.seo_title}}" />
    {{else}}
    <title>{{.Params.title}}</title>
    <meta property="og:title" content="{{.Params.Title}}" />
    {{ end }}
    <meta property="og:description" content="{{.Params.seo_description}}" />
    {{ if .Params.seo_description }}
    <meta name="description" content="{{.Params.seo_description}}" />
		{{end}}
    {{ if .Params.seo_keywords }}
    <meta name="keyowrds" content="{{.Params.seo_keywords}}" />
		{{end}}
		{{ if .Params.featured_image }}
    <meta property="og:image" content="{{ (trim .Params.featured_image "/") | absURL }}" />
		{{ else }}
    <meta property="og:image" content="{{ (trim .Site.Data.meta.fb_cover "/") | absURL}}" />
		{{end}}
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700" rel="stylesheet">
    <link href="{{ "css/main.css" | absURL }}" rel="stylesheet" type="text/css" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="{{ "js/turbolinks.js" | absURL }}"></script>
    <style>
      body, * {
        font-family: "Raleway", sans-serif;
      }
      .race-bg {
        background: #1FA2FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      }
      .menu-bg{
        background: #B2FEFA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
    </style>
  </head>
  <body style="padding-top:64px;">
    <header class="fixed pin-t pin-l pin-r z-50 shadow bg-white">
      <nav class="container mx-auto bg-white text-blue shadow-1 py-3 flex items-center px-3 md:px-6 lg:px-0">
        <div class="flex-auto">
          <a href="/" class="no-underline text-xl text-blue-dark hover:text-blue-darker font-bold inline-block py-2">Howrah Monsoon Run</a>
        </div>
        <div class="flex-auto">
        </div>
        <div class="hidden md:block">
          <a class="no-underline font-bold text-blue rounded px-3 py-2 hover:bg-blue-lighter hover:text-blue-dark text-sm inline-block" href="/">Home</a>
          <a class="no-underline font-bold text-blue rounded px-3 py-2 hover:bg-blue-lighter hover:text-blue-dark text-sm inline-block" href="/raceinfo">Race Info</a>
          <a class="no-underline font-bold text-blue rounded px-3 py-2 hover:bg-blue-lighter hover:text-blue-dark text-sm inline-block" href="/raceweekend">Race Weekend</a>
          <a class="no-underline font-bold text-blue rounded px-3 py-2 hover:bg-blue-lighter hover:text-blue-dark text-sm inline-block" href="http://128.199.199.202:4100/">Register</a>
          <a class="no-underline font-bold text-blue rounded px-3 py-2 hover:bg-blue-lighter hover:text-blue-dark text-sm inline-block" href="http://128.199.199.202:4100/">Application Status</a>
          <a class="no-underline font-bold text-blue rounded px-3 py-2 hover:bg-blue-lighter hover:text-blue-dark text-sm inline-block" href="/faq" data-turbolinks="false">FAQ</a>
          <a class="no-underline font-bold text-blue rounded px-3 py-2 hover:bg-blue-lighter hover:text-blue-dark text-sm inline-block" href="/contact" data-turbolinks="false">Contact</a>
        </div>
       <div class="text-right block md:hidden" onclick="toggle_mobile_menu()">
          <div class="bg-blue-dark mb-1" style="height:4px; width:30px;"></div>
          <div class="bg-blue-dark mb-1" style="height:4px; width:30px;"></div>
          <div class="bg-blue-dark" style="height:4px; width:30px;"></div>
        </div>
        <div id="mobile_nav" class="fixed pin-t pin-r pin-b overflow-y-auto z-50 shadow-lg py-3 px-3 hidden menu-bg">
          <div class="flex items-center border-b border-blue-dark">
            <h2 class="text-xl mr-6">Howrah Monsoon Run</h2>
            <div class="text-right block px-3 py-2 pointer font-bold leding-none text-xl text-blue-dark" onclick="toggle_mobile_menu()">X</div>
          </div>
          <a class="no-underline border-b border-blue-light py-4 text-blue-dark hover:text-blue px-3 block" href="/">Home</a>
          <a class="no-underline border-b border-blue-light py-4 text-blue-dark hover:text-blue px-3 block" href="/raceinfo">Race Info</a>
          <a class="no-underline border-b border-blue-light py-4 text-blue-dark hover:text-blue px-3 block" href="/racewekeend">Race Weekend</a>
          <a class="no-underline border-b border-blue-light py-4 text-blue-dark hover:text-blue px-3 block" href="http://128.199.199.202:4100/">Register</a>
          <a class="no-underline border-b border-blue-light py-4 text-blue-dark hover:text-blue px-3 block" href="http://128.199.199.202:4100/">Application Status</a>

          <a class="no-underline border-b border-blue-light py-4 text-blue-dark hover:text-blue px-3 block" href="/faq" data-turbolinks="false">FAQ</a>
          <a class="no-underline border-b border-blue-light py-4 text-blue-dark hover:text-blue px-3 block" href="/contact" data-turbolinks="false">Contact</a>
        </div>
      </nav>
    </header>
