{{ partial "header.html" . }}
{{ partial "page_title.html" . }}
<!-- {{ partial "fixed_icon.html" . }} -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOp_b26dWumYiB9Pc3EwrC-FEPP2CkgGk" data-turbolinks-eval="false"></script>
  <div class="flex items-stretch items-start flex-wrap -mt-8">
      <main class="w-full md:w-1/2 px-3 md:px-6 lg:px-0 pt-8">
        <div class="mx-auto mb-6" style="max-width: 480px;">
          <address class="roman leading-normal">
            <h3 class="text-xl">{{.Params.business_name}}</h3>
            <div>{{ replace .Params.address "\n" "<br>" | safeHTML }}</div>
            <div>Mobile: {{.Params.mobile}}</div>
          </address>
          <div class="content">
            {{ .Content }}
          </div>
        </div>
      </main>
      <aside class="w-full md:w-1/2" id="map-canvas" style="min-height: 480px;">
      </aside>
  </div>
  <script>
 function initialize() {
   var gmc = {{.Params.google_map_coordinates}}
   var myLatlng = new google.maps.LatLng(gmc.split(",")[0], gmc.split(",")[1]);
   var mapOptions = {
     center: myLatlng,
     zoom: 18,
     scrollwheel: false,
     styles: [{
       featureType: 'all',
       stylers: [{
         hue: '#408BC9'
       },
                 {
                   saturation: 70
                 }
       ]
     }, {
       featureType: 'road.arterial',
       elementType: 'geometry',
       stylers: [{
         hue: '#0d2d62'
       },
                 {
                   saturation: 90
                 }
       ]
     }, {
       featureType: 'poi.business',
       elementType: 'labels',
       stylers: [{
         visibility: 'off'
       }]
     }]
   };
   var map = new google.maps.Map(document.getElementById('map-canvas'),
                                 mapOptions);
   var marker = new google.maps.Marker({
     position: myLatlng,
     map: map
   });
 }
 google.maps.event.addDomListener(window, 'turbolinks:load', initialize);
</script>

{{ partial "footer.html" . }}
